@model User

<form asp-action="RegisterUser" asp-controller="User" method="Post">
<h3>Register</h3>
<div class="myFormLines">
    <input asp-for="FirstName" class=""form-control form-control-lg" type="text" placeholder="First Name">
    <span class="text-danger" asp-validation-for="FirstName"></span>
</div>
<div class="myFormLines">
    <input asp-for="LastName" class=""form-control form-control-lg" type="text" placeholder="Last Name">
    <span class="text-danger" asp-validation-for="LastName"></span>
</div>
<div class="myFormLines">
    <input asp-for="Email" class=""form-control form-control-lg" type="text" placeholder="Email">
    <span class="text-danger" asp-validation-for="Email"></span>
</div>
<div class="myFormLines">
    
    <input type="password" asp-for="Password" class=""form-control form-control-lg" type="password" placeholder="Password">
    <span class="text-danger" asp-validation-for="Password"></span>
</div>
<div class="myFormLines">
    <input asp-for="PasswordConfirm" class=""form-control form-control-lg" type="password" placeholder="Confirm Password">
    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
</div>
<button>Submit</button>

</form>