*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px;
}

p {
  line-height: 7px; /* within paragraph */
  margin-top: 15px; /* between paragraphs */
  }

.images{
  width: 300px;
  height: 200px;
}
.largerImages{
  width: 600px;
  height: 400px;
}

.posts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.addArt:hover{
transform: scale(1.1);
}

.artBox{
  margin-bottom: 20px;
}

.welcome{
  color: black;
  text-align:leftS;
  margin-bottom: 50px;
}


.paintBG{
  width: 450px;
  height: 250px;
}

.fullscreen{
  height: 100vh;
}

.myRow{
  gap: 40px;
}

.yellow{
  background-color: yellow;
  padding: 20px 30px 80px 30px;
}

.myFormLines{
  margin-bottom: 10px; /* between paragraphs */
}

.likesAndButton{
  display: flex;
  align-items: center;
  gap: 10px;
}
.likeButton{
  background-color: yellow;
  padding: 0 4px 0 4px;
}

.editDelete{
  display: flex;
  gap: 10px;
}